<h1>Log In Here!</h1>

<%= form_for(@user, url: '/login') do |f|%>
    <%= f.label :email %>
    <%= f.email_field :email %><br><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br><br>

    <%= f.submit "Log In"%>
<% end %>

<h4>Or click here to <%= button_to "Log in with Google", '/auth/google_oauth2'  %></h4>