<%= render partial: "layouts/error", locals: {object: @project}  %>

<%= form_for([@room, @project]) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :status %>
    <%= f.select :status,options_for_select(["Not Started", "In Progress", "Complete" ]), include_blank: true  %><br>

    <%= f.label :est_date_to_complete %>
    <%= f.date_field :est_date_to_complete %><br>

    <%= f.label :project_notes %>
    <%= f.text_area :notes %><br>
    
    <% if @room %>
        <%= f.hidden_field :room_id, :value => @room.id %>
    <% else %>
        <%= render partial: "room_fields", locals: { f:f } %>
    <% end %>

    <h3> Create New Tools: </h3>

    <%= f.fields_for :tools do |tool| %> <br>
         
            <%= tool.label :name %>
            <%= tool.text_field :name %><br>
    <% end %><br><br>



    <%= f.submit %>
<% end %>