<%= display_index_header %>
<% if params[:room_id] && @room = Room.find(params[:room_id]) %>
        <%= link_to "Create a New Project", new_room_project_path %>
<% else %>
        <%= link_to "Create a New Project", new_project_path %> | 
        <%= link_to "Sort Projects by Due Date", projects_order_by_project_due_date_path %>
<% end %><br><br>

<ul>
    <% @projects.each do |project| %>
        <h3><li><%= link_to project.name.capitalize, project_path(project) %></h3></li>
        Goal: <%= project.due_date_goal %><br>
        Status: <%= project.status %><br><br>
        

    <% end %>
</ul>