<%= display_index_header %>
<div class="text">
        <% if params[:room_id] && @room = Room.find(params[:room_id]) %>
                <b><%= link_to "Create a New Project", new_room_project_path %></b>
        <% else %>
                <b><%= link_to "Create a New Project", new_project_path %> | </b>
                <b><%= link_to "Sort Projects by Due Date", projects_order_by_project_due_date_path %></b>
        <% end %><br><br>

        
        <% @projects.each do |project| %>
                <% if project.user_id == current_user.id %>
                        <h3><%= link_to project.name.capitalize, project_path(project) %></h3>
                        <b>Goal:</b> <%= project.due_date_goal %><br></b>
                        <b>Status:</b> <%= project.status %><br><br></b>
                <% end %>
        <% end %>
   

</div>