<h1><%= @project.name %></h1>

<h3><%= @project.status %></h3>
<h3>Due Date Goal: </h3>
<%= @project.due_date_goal %>
<h3>Project Notes: </h3>
<%= @project.notes %><br>
<h3>Project Room: </h3>
    


<%= link_to "Edit Project", edit_project_path(@project) %><br>
<%= link_to "Delete Project", project_path(@project), method: :delete %>

