<h1><%= @project.name.capitalize %></h1>

Status: <%= @project.status %><br><br>
Goal: <%= @project.due_date_goal %><br><br>
Room: 
<%= @project.room.name %><br><br>

Tools: 
    <% @project.tools.each do |tool| %>
       <li><%= tool.name %></li>
    <% end %><br>
Project Notes: 
<%= @project.notes %><br><br><br>
    


<%= link_to "Edit Project", edit_room_project_path(@project) %><br>
