<h1><%= @project.name.capitalize %></h1>
<div class="text">
    <b>Status:</b> <%= @project.status %><br><br>
    <b>Goal:</b> <%= @project.due_date_goal %><br><br>
    <b>Room:</b> 
    <%= @project.room.name %><br><br>

    <b>Tools:</b> 
        <% @project.tools.each do |tool| %>
        <li><%= tool.name %></li>
        <% end %><br>
    <b>Project Notes:</b>
    <%= @project.notes %><br><br><br>
</div>
        


<b><%= link_to "Edit Project", edit_project_path(@project) %><br></b>
