<h1><%= @room.name %></h1>

<h2>Your Projects</h2>
<ul>
    <%= @room.projects.each do |project| %>
        <li><%= link_to project.name.capitalize, room_project_path(project) %></li>
        <p>Status: <%= project.status %></li></p>
        <p>Goal: <%= project.est_date_to_complete %></li></p>
        <p>Project Notes: <%= project.notes %></li></p><br><br>
    <% end %>
</ul>