<h1><%= @room.name %></h1>

<h2>Your Projects</h2>

    <%= @room.projects.each do |project| %>
        <%= link_to project.name.capitalize, room_project_path(project) %>
        <p>Status: <%= project.status %></p>
        <p>Goal: <%= project.est_date_to_complete %></p>
        <p>Project Notes: <%= project.notes %></p><br><br>
