<!DOCTYPE html>
<html>
  <head>
    <title>DIYganizer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>  </head>

  <body>
    <% if logged_in? %>
      <br><a href="/">Home</a> |
      <a href="/rooms">All Rooms</a> |
      <a href="/projects">All Projects</a> |
      <%= button_to "Logout", logout_path, method: 'delete' %>
    <% end %>
    <div class="reroute-text">

    
    <%= yield %>
  </body>
  </div>
</html>
